
body {
  margin: 0;
  height: 100vh;                
  display: flex;
  justify-content: center;      
  align-items: center;          
  text-align: center;           
  font-family: Arial, sans-serif;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  min-width: 640px;
  text-align: middle;
  border-radius: 4px;
}


.dropdown-content{
  text-align:left;
  min-width: 640px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  padding: 5px 0;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content label,
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content label:hover,
.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

input[type="text"],
input[type="date"],
input[type="time"],
.dropbtn,
button[type="submit"],
textarea {
  width: 640px;         
  max-width: 100%;        
  padding: 10px;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 12px;
  box-sizing: border-box;
}