body{
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, sans-serif;
}

.header{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    margin-left: -205px;
    margin-right: -205px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.vlntr{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgb(225, 255, 245);
    padding: 15px;
    margin: 5px;
    font-size: 18px;
}

.vlnbutton{
    border: solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 18px;
}
.vlnbutton:hover{
    background-color: rgb(85, 85, 85);
}
.vlnbutton:active{
    border: solid antiquewhite;
}

.text1{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}