body{
    margin: 0 200px;
    font-family: Arial, sans-serif;
}

.header{
    padding: 25px 20px;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid;
    border-color: black;
    margin: -2px -205px 30px;
}

.vlntr{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgb(225, 255, 245);
    padding: 15px;
    margin: 5px;
    font-size: 18px;
}

.vlnbutton{
    border: solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 18px;
}
.vlnbutton:hover{
    background-color: rgb(85, 85, 85);
}
.vlnbutton:active{
    border: solid rgb(225, 255, 245);
}

.text1{
    margin: 10px 15px;
}

.popup{
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.popup-within{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}